/* Homepage css */

.App {
  text-align: center;
}

.carousel {
  height: 80%;
}

.carouselImg {
  display: block;
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-container {
  height: 700px;
}

.carousel-container, h2 {
  margin-top: 10px;
}

.mission {
  position: relative;
  background-color: #ff9248;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 20px;
}

/* Navbar css */

.navbar {
  background-color: #fc8b18;
  color: black;
  /* position: fixed !important; */
}

.title {
  font-size: 60px;
  text-decoration: none;
  color: black;
}

.nav_text {
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

.navbar-collapse, .collapse {
  position: relative;
  float: right;
  margin-left: 300px;
  margin-top: 20px;
  width: fit-content;
}

/* Category page css */

.category, img {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.category, :link {
  text-decoration: none;
}

/* Create event page css */

.form {
  list-style: none;
}

.form, li {
  margin-top: 30px;
}

/* Category event list page */

.events_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.individual_event, img {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
}

.individual_event {
  margin-top: 40px;
  height: 600px;
}

/* Individual event page */

.profile_picture {
  height: 150px;
  width: 20%;
  border-radius: 30px;
}

/* Logout */

.logout_button {
  width: 80px;
  margin: 0 auto;
  margin-right: 165px;
  height: fit-content;
}

/* My events page */

.event_table, td {
  padding-left: 50px;
  padding-top: 20px;
}

@media (max-width: 400px) {

  body {
    height: fit-content;
  }

  /* Homepage css */

  .carouselImg {
    display: block;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
  }

  .mission {
    height: 170px;
  }

  .mission, p {
    font-size: 12px;
  }

  /* Navbar css */

  .nav_text {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .navbar-collapse, .collapse {
    margin-left: 10px;
  }

  /* Category page css */

  .category, img {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }

  /* Category event list page */

  .individual_event, img {
    width: 90%;
    height: 300px;
  }

  .individual_event {
    height: 450px;
  }

  /* Logout */

  .logout_button {
    margin-right: 141px;
  }

  /* My events page */

  .event_table, td {
    padding-left: 5px;
  }


}


/* Comments Section CSS Test */

.comments {
  margin-top: 20px;
}

.comments-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.comments-container {
  margin-top: 40px;
}

.comment-form-title {
  font-size: 22px;
}

.comment-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.comment-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.comment-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.comment-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.comment-form-cancel-button {
  margin-left: 10px;
}

.comment {
  display: flex;
  margin-bottom: 28px;
}

.comment-image-container {
  margin-right: 12px;
}

.comment-image-container img {
  border-radius: 50px;
}

.comment-right-part {
  width: 100%;
}

.comment-content {
  display: flex;
}

.comment-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.comment-text {
  font-size: 18px;
}

.comment-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.comment-action {
  margin-right: 8px;
}

.comment-action:hover {
  text-decoration: underline;
}

.replies {
  margin-top: 20px;
}