/* Homepage css */

.App {
  text-align: center;
}

.carousel {
  height: 80%;
}

.carouselImg {
  display: block;
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-container {
  height: 700px;
}

.mission {
  position: relative;
  background-color: #ff9248;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 20px;
}

/* Navbar css */

.navbar {
  background-color: #fc8b18;
  color: black;
  /* position: fixed !important; */
}

.title {
  font-size: 60px;
  text-decoration: none;
  color: black;
}

.nav_text {
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

.navbar-collapse, .collapse {
  position: relative;
  float: right;
  margin-left: 300px;
  margin-top: 20px;
  width: fit-content;
}

/* Category page css */

.category, img {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.category, :link {
  text-decoration: none;
}

/* Create event page css */

.form {
  list-style: none;
}

.form, li {
  margin-top: 30px;
}


@media (max-width: 400px) {

  body {
    height: fit-content;
  }

  /* Homepage css */

  .carouselImg {
    display: block;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
  }

  .mission {
    height: 350px;
  }
  
  /* Navbar css */

  .nav_text {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .navbar-collapse, .collapse {
    margin-left: 10px;
  }

  /* Category page css */

  .category, img {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }

}
