/* Homepage css */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");

html, body {
  min-height: 100%;
  font-family: 'DM Sans', sans-serif;
}

.App {
  text-align: center;
  font-family: 'DM Sans', sans-serif;
}

.carousel {
  height: 80%;
}

.carouselImg {
  display: block;
  max-width: 80%;
  height: 500px;
  margin: 0 auto;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-container {
  height: 700px;
}

.carousel-container, h2 {
  margin-top: 10px;
}

.mission {
  position: relative;
  background-color: #ff9248;
  height: 200px;
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 20px;
  border-radius: 20px;
}

/* Navbar css */

.navbar {
  background-color: #fc8b18;
  color: black;
  /* position: fixed !important; */
}

.title {
  font-size: 60px;
  text-decoration: none;
  color: black;
}

.nav_text {
  color: black;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 10px;
  margin-right: 20px;
}

.navbar-collapse, .collapse {
  position: relative;
  float: right;
  margin-left: 300px;
  margin-top: 20px;
  width: fit-content;
}

/* Category page css */

.category, img {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top: 50px;
}

.category, :link {
  text-decoration: none;
}

/* Create event page css */

.form {
  list-style: none;
}

.form, li {
  margin-top: 30px;
}

.upload {
  margin-left: 170px;
}

/* Category event list page */

.events_container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.individual_event, img {
  display: block;
  width: 80%;
  height: 400px;
  margin: 0 auto;
}

.individual_event {
  margin-top: 50px;
  height: 600px;
}

#back {
  margin-right: 1000px;
}

/* Individual event page */

.profile_picture {
  height: 150px;
  width: 40%;
  border-radius: 9999px;
}

.event_details {
  width: fit-content;
  margin-left: 90px;
  margin-top: 50px;
}

.contact {
  width: 400px;
  float: right;
  display: block;
  margin-top: -180px;
  margin-right: 80px;
}

.descript_tag {
  margin-right: 10px;
}

#prev {
  margin-right: 940px;
  margin-top: 20px;
}

/* My Events Page */

.table {
  margin: 0 auto;
}

#create_heading {
  margin-top: 10px;
}

/* Logout */

.logout_button {
  width: 80px;
  margin: 0 auto;
  margin-right: 165px;
  height: fit-content;
}

/* My events page */

.event_table, td {
  padding-left: 50px;
  padding-top: 20px;
}

/* Profile page */

.profile_image {
  width: 20%;
  height: 200px;
}

#edit_button {
  margin-left: 30px;
}

/* Edit Profile page */

#back_profile {
  margin-left: -1100px;
  margin-top: -40px;
}

@media (max-width: 400px) {

  body {
    height: fit-content;
  }

  /* Homepage css */

  .carouselImg {
    display: block;
    max-width: 80%;
    height: 300px;
    margin: 0 auto;
  }

  .mission {
    height: 170px;
  }

  .mission, p {
    font-size: 12px;
  }

  /* Navbar css */

  .nav_text {
    color: black;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 10px;
    margin-right: 10px;
  }

  .navbar-collapse, .collapse {
    margin-left: 10px;
  }

  /* Category page css */

  .category, img {
    width: 90%;
    height: 300px;
    margin: 0 auto;
    margin-top: 50px;
  }

  /* Category event list page */

  .individual_event, img {
    width: 90%;
    height: 300px;
  }

  .individual_event {
    height: 450px;
  }

  #back {
    margin-right: 180px;
  }

  #category_title {
    margin-right: 20px;
    font-size: 50px;
  }

  /* Create Form */
  
  .upload {
    margin-left: 50px;
  }

  .description {
    width: 300px;
  }

  /* Individual Event Page */

  #event_image {
    margin: 0 auto;
  }

  .contact {
    width: 420px;
    margin-top: -340px;
    float: right;

  }

  .event_details {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
    float: right;
    font-size: 18px;
  }

  #prev {
    margin-right: 240px;
  }

  /* profile page */

  .profile_image {
    width: 55%;
  }

  /* Edit Profile page */

  #back_profile {
    margin-left: -280px;
    margin-top: -36px;
    font-size: 16px;
  }

  /* Logout */

  .logout_button {
    margin-right: 141px;
  }

  /* My events page */

  .event_table, td {
    padding-left: 5px;
  }


}
